.about {
    background: #f3f1f1;
    padding: 90px 0 130px;

    @media(max-width:$md2 + px) {
        padding: 60px 0 80px;
    }

    &__links {
        display: flex;
        justify-content: center;
    }

    &__inner {
        background: #fff;
        padding: 60px 60px 80px;

        @media(max-width:$md2 + px) {
            padding: 40px;
        }

        @media(max-width: $md5 + px) {
            padding: 30px 0px 40px;
        }
    }

    &-container {
        @media(max-width:$md2 + px) {
            padding: 0;
        }
    }
}

.about-link {
    display: block;
    text-align: center;
    padding: 13px 30px;
    max-width: 340px;
    width: 100%;
    background: #E4E4E4;
    color: #505050;
    font-size: 17px;
    line-height: 25px;

    @media(max-width: $md5 + px) {
        font-size: 12px;
    }

    &:not(:last-child) {
        margin-right: 15px;
    }

    &.active {
        border-top: 2px solid $colorYellow;
        color: $colorGrey;
        background: #fff;
        font-weight: bold;
    }
}

.about-title {
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 30px;
    text-align: center;

    @media(max-width: $md5 + px) {
        font-size: 16px;
    }
}

.about-content {
    color: #505050;

    @media(max-width: $md5 + px) {
        padding: 0 15px;
    }

    &:not(:last-child) {
        margin-bottom: 35px;
    }

    &__paragraph {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__subtitle {
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: $colorGrey;
        margin-bottom: 15px;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__list-elem {
        padding-left: 10px;
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            width: 4px;
            height: 4px;
            background: $colorBlue;
            border-radius: 1px;
        }
    }

    &__title {
        font-weight: bold;
        margin-bottom: 25px;

    }

    &__text {
        margin-bottom: 15px;
        font-size: 15px;

        @media(max-width: $md5 + px) {
            font-size: 14px;
        }

        span {
            display: block;
            font-weight: bold;
        }
    }
}

.about-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 18px;
    line-height: 22px;

    @media(max-width:$md2 + px) {
        display: block;
    }

    @media(max-width: $md5 + px) {
        padding: 0;
    }

    .about-content__title,
    .about-content__text {
        @media(max-width: $md5 + px) {
            padding: 0 15px;
        }
    }

    &__img {
        position: relative;
        margin-left: 15px;
        z-index: 3;

        @media(max-width:$md2 + px) {
            margin-left: 0;
        }

        img {
            display: block;
            max-width: 541px;
            width: 100%;
            height: auto;

            @media(max-width:$md2 + px) {
                margin-left: 0;
                max-width: 688px;
                margin: 90px auto 0;
            }

            @media(max-width: $md5 + px) {
                margin-top: 60px;
            }
        }
    }
}

.about {
    padding: 50px 0 80px;
    font-family: 'Ubuntu', sans-serif;
}

.about .benefits__item {
    color: #333;
    box-shadow: 0px 8px 45px rgba(37, 37, 37, 0.03);
    border-radius: 10px;
}

.about .safety {
    margin-top: 50px;
    padding: 0;
    background: transparent;
}

.about .safety__inner {
    display: flex;
    justify-content: space-between;
    background: none;
    box-shadow: none;
    padding: 0;

    @media(max-width: $md4 + px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.about .safety__inner-item {
    display: flex;
    align-items: flex-start;
    max-width: 325px;
    width: 100%;



    &:not(:last-child) {
        margin-right: 15px;

        @media(max-width: $md4 + px) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
}

.about .safety__title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #333;
    margin-bottom: 50px;

    @media(max-width: $md4 + px) {
        font-size: 20px;
        line-height: 1;
        margin-bottom: 30px;
    }
}

.about .safety__inner-text {
    margin-left: 30px;
    font-size: 16px;
    line-height: 20px;

    @media(max-width: $md3 + px) {
        margin-left: 15px;
    }
}

.about .benefits__items {
    margin: 50px 0;
}

.about__content {
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.about__content-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #2f2f2f;
    margin-bottom: 15px;
}

.about__content-text {
    font-size: 16px;
    line-height: 20px;
    color: #333;
    font-weight: 400;

    &:not(:last-child) {
        margin-bottom: 15px;
    }
}