.cabinet-new {

    &__table {
        border-collapse: collapse;
    }
}

.cards-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 10px;

    &__header {
        @media(max-width: $md5 + px) {
            display: none;
        }
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        @media(max-width: $md5 + px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__col {
        padding: 14px 18px;
        border: 1px solid #EAECF0;

        span {
            display: flex;
            align-items: center;

            svg {
                display: block;
                width: 16px;
                height: 16px;
                stroke: #a4a4a4;
                margin-right: 10px;
            }
        }

        @media(max-width: $md5 + px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;

            &::after {
                content: attr(data-label);
                font-weight: bold;
                font-size: 12px;
            }
        }

        &--delete {
            width: 25px;

            @media(max-width: $md5 + px) {
                width: 100%;
            }

            svg {
                width: 16px;
                height: 16px;
                stroke: #EB5757;
            }
        }
    }

    &__body {}

    &__status {
        color: #219653;

        &--unactive {
            color: #EB5757;
        }
    }
}

.cabinet-new__item--newCard {
    display: none;
}

.add-card__btn {
    max-width: 187px;
    margin-top: 50px;
}