.information,
.credit__passport {
    padding: 50px 0 90px;
    font-family: 'Ubuntu', sans-serif;
}

.table__information,
.credit__passport-table {
    border-collapse: collapse;
    border: 1px solid #EAECF0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight: 400;
}

.table__information tr,
.table__information td,
.credit__passport-table tr,
.credit__passport-table td {
    border: 1px solid #EAECF0;
}

.table__information td:nth-child(3) {
    max-width: 600px;
}

.table__information-num {
    text-align: center;
}

.table__information-header,
.credit__passport-head {
    font-weight: 700;
}

.table__information-num {
    width: 50px;
}

.table__information-name {
    width: 260px;
    padding: 15px 18px 15px 17px;
}

.table__information-content {
    width: 600px;
    padding: 15px 18px 15px 17px;
}

.table__information-last {
    width: 233px;
    padding: 15px 18px 15px 17px;
}

.table__information-link {
    display: block;
    color: #0084FE;
    text-decoration: underline;
}

.credit__passport-row td,
.credit__passport-head td {
    padding: 15px 18px;
}

.credit__passport-row td:first-child {
    width: 458px;
}