.news {
    background: #f3f1f1;

    &-container {
        padding: 80px 15px;

        @media(max-width: $md3 + px) {
            padding: 45px 15px;
        }

        @media(max-width: $md5 + px) {
            padding: 35px 15px;
        }
    }

    &__banner {}

    .credits__calc {
        @media(max-width: $md2 + px) {
            padding-top: 0;
        }
    }

    &__calc {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 50px;

        @media(max-width: $md3 + px) {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    &__calc-calc {
        max-width: 460px;
        width: 100%;
        flex-grow: 1;

        @media(max-width: $md5 + px) {
            max-width: none;
            width: 110%;
        }
    }

    &__calc-img {
        width: 100%;
        position: relative;
        margin-bottom: 50px;

        @media(max-width: $md3 + px) {
            margin-right: 23px;
            margin-left: 0;
        }

        @media(max-width: $md4 + px) {
            margin-bottom: 35px;
        }

        img {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
        }
    }

    &__info {
        line-height: 1.25;
        width: 50%;
        margin-bottom: 90px;

        @media(max-width: $md3 + px) {
            width: 100%;
            margin-bottom: 35px;
        }

        @media(max-width: 769px) {
            margin-bottom: 45px;
        }

        @media(max-width: $md4 + px) {
            margin-top: 0;
        }

        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    .news-info {

        &__footer {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    .news-info {
        @media(max-width: $md4 + px) {
            font-size: 12px;
        }

        &__content {
            margin: 50px 0 30px;

            @media(max-width: $md4 + px) {
                margin: 0;
                margin-bottom: 15px;
            }
        }

        &__title {
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 11px;

            @media(max-width: $md4 + px) {
                font-size: 12px;
                margin-bottom: 7px;
            }
        }

        &__item {
            position: relative;
            padding-left: 10px;

            &::before {
                content: '-';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &__footer {
            margin-top: 40px;
        }
    }

    &__info-link {
        font-size: 14px;
        line-height: 16px;
        color: #A4A4A4;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px dotted #A4A4A4;
        transition: all .2s;

        &:hover {
            color: $colorOrange;
            border-color: $colorOrange;
        }

        .Arrow-link {
            margin-left: 0;
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
    }

    &__more-tittle {
        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 50px;
        text-align: center;
    }

    &__more-wrapper {
        display: flex;

        @media(max-width: $md5 + px) {
            display: block;

            .news-block {
                margin: 0;
                margin-bottom: 10px;
            }
        }

    }

    &__block-item {
        border: 1px solid #EAECF0;
        transition: all .2s;

        &:hover {
            border-color: #a4a4a4;

            .news-block__title {
                transition: all .2s;
                color: $colorOrange;
            }
        }

        .news-block__title {
            color: #2E2E2E;
        }

    }
}