/* answer */
.answer {
    padding: 50px 0 120px;
    font-family: 'Ubuntu', sans-serif;

    @media(max-width: $md4 + px) {
        padding: 50px 0;
    }

    .tabs__content-item {
        &:not(:last-child) {
            margin-bottom: 50px;

            @media(max-width: $md4 + px) {
                margin-bottom: 30px;
            }
        }
    }

    .tabs__name-item {
        display: block;
        cursor: pointer;
        position: relative;

        &.active {
            .tabs__name-arrow {
                display: block;
            }
        }

        &:hover {
            color: $colorOrange;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .tabs__name-text {
        padding-left: 35px;

        @media(max-width: $md5 + px) {
            padding-left: 25px;
            font-size: 12px;
        }
    }

    .tabs__name-arrow {
        display: none;
        background: $colorOrange;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        border-radius: 0px 5px 5px 0px;

        svg {
            fill: #fff;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(180deg);
        }
    }
}

.answer__inner {
    display: flex;
    justify-content: space-between;

    @media(max-width: $md3 + px) {
        flex-direction: column-reverse;
    }
}

.answer .answer__tabs-name {
    max-width: 400px;
    width: 100%;
    margin-top: 50px;

    @media(max-width: $md3 + px) {
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 50px;
    }
}

.answer .answer__tabs-content {
    margin-right: 30px;
    max-width: 653px;
    width: 100%;

    @media(max-width: $md3 + px) {
        margin: 0;
        max-width: 100%;
    }
}

.answer .tabs__name-items {
    padding: 0;
}

.answer__inner .tabs__content-title {
    border: none;
    padding: 0;
}

.tabs__content-title {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 30px;
    color: #2F2F2F;

    @media(max-width: $md4 + px) {
        font-size: 16px;
        margin-bottom: 24px;
    }
}

.answer .accordion__title.active a::after {
    transform: translateY(-50%) rotate(180deg);
}