<section class="about">
    <div class="container">
        <div class="about__content">
            <div class="about__content-title">Кто мы такие</div>
            <div class="about__content-text">Это современный и простой сервис, который позволяет получить кредит на
                платежную карту международной платежной системы Visa International и MasterCard, издание любом
                украинском банком, всего за несколько минут, в любом месте и в любое время.</div>
            <div class="about__content-text">Мы Работаем круглосуточно, без праздников и выходных, Полностью онлайн
                24/7, поэтому Вы всегда можете рассчитывать на нас, если Вам срочно нужны деньги!</div>
        </div>
        <div class="about__benefits">
            <div class="benefits__items">
                <div class="benefits__item">
                    <div class="benefits__item-title">
                        <img src="img/benefits_1.svg" alt="">
                        <span>Безпека</span></div>
                    <div class="benefits__item-text">Разом з нашими партнерами ми забезпечуємо безпеку кожної
                        транзакції,
                        виконуваної на нашій платформі. Безпека наших користувачів - наш пріоритет</div>
                </div>
                <div class="benefits__item">
                    <div class="benefits__item-title">
                        <img src="img/benefits_2.svg" alt="">
                        <span>Швидкість</span></div>
                    <div class="benefits__item-text">Ми знаємо, що процес запозичення неприємний для наших користувачів.
                        Отже, виконання всієї транзакції можливо протягом 20 секунд і 3 торкань</div>
                </div>
                <div class="benefits__item">
                    <div class="benefits__item-title">
                        <img src="img/benefits_3.svg" alt="">
                        <span>Ефективність</span>
                    </div>
                    <div class="benefits__item-text">Середня ефективна процентна ставка для наших позичальників всього
                        10%
                    </div>
                </div>
                <div class="benefits__item">
                    <div class="benefits__item-title">
                        <img src="img/benefits_4.svg" alt="">
                        <span>Інтуітивність</span>
                    </div>
                    <div class="benefits__item-text">Наш інноваційний веб-сайт і мобільний додаток прозорі і інтуїтивно
                        зрозумілі для кожного з наших користувачів</div>
                </div>
                <div class="benefits__item">
                    <div class="benefits__item-title">
                        <img src="img/benefits_5.svg" alt="">
                        <span>Автоматизація</span>
                    </div>
                    <div class="benefits__item-text">Всі процеси на нашій платформі повністю автоматизовані, що дозволяє
                        швидко і легко виконати всі транзакції</div>
                </div>
                <div class="benefits__item">
                    <div class="benefits__item-title">
                        <img src="img/benefits_6.svg" alt="">
                        <span>Інновації</span>
                    </div>
                    <div class="benefits__item-text">Наша система штучного інтелекту дозволяє нам встановлювати
                        кредитний
                        ліміт, який буде збільшуватися з подальшими успішними транзакціями</div>
                </div>
            </div>
        </div>
        <div class="about__content">
            <div class="about__content-title">Наш кредит</div>
            <div class="about__content-text">Мы предоставляем кредиты в сумме до 5000 гривен на срок до 30
                календарных дней. Все, что вам необходимо для получения кредита- это наличие доступа к интернету и
                действующая платежная карта, выданная любым украинским банком.
            </div>
            <div class="about__content-text">После успешной идентификации клиента решение о предоставлении кредита
                по последующих кредитам принимаются системой автоматически в течение нескольких минут. В случае
                положительного решения, деньги автоматически перечисляются на вашу карточку. Деньги на вашей карте
                появятся в течение - 10 минут.
                Если вы получили отказ в получении кредита, рекомендуем поддерживать персональную информацию в
                актуальном состоянии и повторно обращаться к нам через некоторое время.</div>
        </div>
        <div class="about__content">
            <div class="about__content-title">Что мы предлагаем</div>
            <div class="about__content-text">Это быстрое предоставление микро-кредитов на прозрачных и честных
                условиях. Если вы вовремя и в полном объеме осуществляете оплату обязательств по кредиту, вы можете
                быть уверены, что никаких дополнительных платежей не возникнет.</div>
            <div class="about__content-text"> Ежедневно, в течение наличии задолженности по кредиту, в Личном
                кабинете можно увидеть сумму к погашению. Поэтому у вас есть возможность осуществить оплату
                задолженности досрочно, заплатив проценты за кредит только за то количество дней, в течение которых
                вы фактически пользовались кредитом. За досрочную оплату кредита комиссия не взимается.</div>
            <div class="about__content-text"> Если у вас возникнет необходимость в пролонгации кредита, мы
                гарантируем вам такую ​​возможность на определенных кредитным договором условиях.</div>
            <div class="about__content-text">Мы используем самые высокие стандарты защиты информации, поэтому все
                персональные данные полностью конфиденциальны и не подлежат передаче третьим лицам без вашего
                личного согласия (кроме случаев, предусмотренных законодательством).</div>
        </div>
        <div class="safety">
            <div class="safety__title title">Мы заботимся о вашей безопасности</div>
            <div class="safety__inner">
                <div class="safety__inner-item">
                    <img src="img/safety1.svg" alt="">
                    <div class="safety__inner-text">Без скрытых платежей, комиссий, написанных мелким шрифтом в
                        договоре.</div>
                </div>
                <div class="safety__inner-item">
                    <img src="img/safety2.svg" alt="">
                    <div class="safety__inner-text">Надежная защита персональных данных, согласно требований
                        законодательства Украины</div>
                </div>
                <div class="safety__inner-item">
                    <img src="img/safety3.svg" alt="">
                    <div class="safety__inner-text">Мы гарантируем четкое соблюдение законов о защите прав
                        пользователя.</div>
                </div>
            </div>
        </div>
    </div>
</section>