<section class="answer">
    <div class="container">
        <div class="answer__inner">
            <div class="answer__tabs-content">
                <div class="tabs__content-items">
                    <div id="question_1" class="tabs__content-item">
                        <div class="tabs__content-title">Технические вопросы</div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Не получил пароль в СМС
                                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Что делать, если транзакции отклоняются? <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Когда можно подать повторную заявку после получения отказа? <svg width="10"
                                        height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Погашение займа и продления сроков <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Можно ли погасить кредит досрочно? <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                    </div>
                    <div id="question_2" class="tabs__content-item">
                        <div class="tabs__content-title">Погашение займа и продление сроков
                            по кредиту</div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Не получил пароль в СМС
                                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Что делать, если транзакции отклоняются? <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Когда можно подать повторную заявку после получения отказа? <svg width="10"
                                        height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Погашение займа и продления сроков <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Можно ли погасить кредит досрочно? <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                    </div>
                    <div id="question_3" class="tabs__content-item">
                        <div class="tabs__content-title">Оформление заявки</div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Не получил пароль в СМС
                                    <svg width="10" height="5" viewBox="0 0 10 5" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Что делать, если транзакции отклоняются? <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                    </div>
                    <div id="question_4" class="tabs__content-item">
                        <div class="tabs__content-title">Общие вопросы</div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Когда можно подать повторную заявку после получения отказа? <svg width="10"
                                        height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Погашение займа и продления сроков <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg></a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__title">
                                <a href="#">Можно ли погасить кредит досрочно? <svg width="10" height="5"
                                        viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.03626 4.9939C5.25762 4.9939 5.42364 4.89438 5.58966 4.79488L9.68481 1.36204C10.0169 1.06354 10.0722 0.615803 9.79549 0.267546C9.46345 -0.0309608 8.96539 -0.080718 8.57801 0.168037C8.57801 0.168037 8.57801 0.168025 8.52267 0.217776L4.98092 3.1531L1.43916 0.217776C1.10712 -0.0807301 0.553725 -0.0807301 0.221686 0.217776C-0.110354 0.516283 -0.110354 1.0138 0.221686 1.31231C0.221686 1.31231 0.221686 1.31229 0.277026 1.36204L4.42752 4.79488C4.59354 4.89438 4.8149 4.9939 5.03626 4.9939Z"
                                            fill="#333333" />
                                    </svg>
                                </a>
                            </div>
                            <div class="accordion__content">Да, вы можете погасить кредит досрочно. Более того, чем
                                раньше вы погашаете кредит, тем меньше Вам придется платить процентов за пользование
                                им.
                                Вы можете увидеть сумму фактической задолженности по процентам и кредиту по
                                состоянию на
                                любой день в Личном Кабинете.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer__tabs-name">
                <div class="tabs__name-items">
                    <a href="#question_1" class="tabs__name-item active">
                        <div class="tabs__name-arrow">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                            </svg>
                        </div>
                        <div class="tabs__name-text">Технические вопросы</div>
                    </a>
                    <a href="#question_2" class="tabs__name-item">
                        <div class="tabs__name-arrow">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                            </svg>
                        </div>
                        <div class="tabs__name-text">Погашение займа и продление сроков по кредиту</div>
                    </a>
                    <a href="#question_3" class="tabs__name-item">
                        <div class="tabs__name-arrow">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                            </svg>
                        </div>
                        <div class="tabs__name-text">Оформление заявки</div>
                    </a>
                    <a href="#question_4" class="tabs__name-item">
                        <div class="tabs__name-arrow">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                            </svg>
                        </div>
                        <div class="tabs__name-text">Общие вопросы</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>