<section class="any-card">
    <div class="container">
        <h2 class="section__title any-card__title">Кредит на карту любого украинского банка</h2>
        <div class="any-card__subtitle-text section__subtitle-text">за 5 минут!</div>
        <div class="any-card__steps">
            <div class="any-card__step">
                <div class="any-card__step-icon">
                    <img src="img/pappers.svg" alt="">
                </div>
                <div class="any-card__step-label">Заявка</div>
                <div class="any-card__step-text">Заполняй заявку онлайн</div>
            </div>
            <div class="any-card__step">
                <div class="any-card__step-icon">
                    <img src="img/contract.svg" alt="">
                </div>
                <div class="any-card__step-label">Договор</div>
                <div class="any-card__step-text">Подписывай договор онлайн</div>
            </div>
            <div class="any-card__step">
                <div class="any-card__step-icon">
                    <img src="img/wallet.svg" alt="">
                </div>
                <div class="any-card__step-label">Деньги уже у тебя!</div>
                <div class="any-card__step-text">Получая деньги на свою карту любого банка</div>
            </div>
        </div>
    </div>
</section>