<aside class="cabinet-aside">
    <div class="cabinet-aside__header">
        <div class="cabinet-aside__icon">
            <button class="btn-edit" type="submit">
                <svg class="">
                    <use xlink:href="./img/icons/icons.svg#edit"></use>
                </svg>
            </button>
        </div>
        <div class="cabinet-aside__name">
            <span>Павловленко</span> Николай Николаевич
        </div>
        <div class="cabinet-aside__id">id 12463</div>
    </div>
    <div class="cabinet-aside__content">
        <nav class="cabinet-aside__nav">
            <ul class="cabinet-aside__list">
                <li class="cabinet-aside__item active">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Личные данные</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Доходы и платежи</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Адреса</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Платежные карты</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">История транзакций</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Кредитная история</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Документы</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Социальные сети</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Сменить пароль</a>
                </li>
                <li class="cabinet-aside__item">
                    <div class="cabinet-aside__arrow">
                        <svg class="">
                            <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                        </svg>
                    </div>
                    <a href="#" class="cabinet-aside__link">Выйти</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="modal modal--error">
        <div class="modal__title">
            <img src="img/warning.png" alt="">
            Ваш аккаунт не верифицирован
        </div>
        <a href="#" class="modal__link">Пройти верификацию</a>
        <div class="modal-close">
            <svg class="">
                <use xlink:href="./img/icons/icons.svg#close"></use>
            </svg>
        </div>
    </div>
    <div class="modal modal--wait">
        <div class="modal__title">
            <img src="img/modal-wait.png" alt="">
            Ваш аккаунт проходит верификацию
        </div>
        <div class="modal-close">
            <svg class="">
                <use xlink:href="./img/icons/icons.svg#close"></use>
            </svg>
        </div>
    </div>
    <div class="modal modal--sucsess">
        <div class="modal__title">
            <img src="img/modal-sucsess.png" alt="">
            Ваш аккаунт успешно верифицирован!
        </div>
        <div class="modal__text">У вас есть возможность оформить новый кредит</div>
        <div class="modal-close">
            <svg class="">
                <use xlink:href="./img/icons/icons.svg#close"></use>
            </svg>
        </div>
    </div>
</aside>