<section class="credit-calc">
    <div class="container">
        <div class="credit-calc__wrapper">
            <div class="credit-calc__content">
                <div class="credit-calc__title">
                    <span>FRASH CASH</span>
                    новые деньги на новые мечты
                </div>
                <div class="credit-calc__description">
                    Мгновенный кредит онлайн от настоящего банка
                </div>
            </div>
            <div class="credit-calc__calculation calculation">
                <div class="calculation__header">
                    <span class="red">Онлайн-кредит на карту</span> за 10 минут
                </div>
                <div class="calculation__body">
                    <div class="calculation-item">
                        <div class="calculation-item__up">
                            <div class="calculation-item__label">Сумма кредита</div>
                            <div class="calculation-item__inp-block">
                                <input id="calculation-summ" type="text" value="10 000 грн"
                                    class="calculation-item__input">
                                <div class="calculation-item__handle">
                                    <button class="btn-reset calculation-item__arrow calculation-item__arrow--top">
                                        <svg class="">
                                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                                        </svg>
                                    </button>
                                    <button class="btn-reset calculation-item__arrow calculation-item__arrow--bottom">
                                        <svg class="">
                                            <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="calculation-item__range-slider">
                            <input id="calculation-range-summ" type="range" min="3000" max="30000" step="1000"
                                value="10000">
                            <div class="calculation-item__range-info">
                                <div class="calculation-item__range-min">3 000 грн</div>
                                <div class="calculation-item__range-max">30 000 грн</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="calculation-item">
                        <div class="calculation-item__up">
                            <div class="calculation-item__label">Срок кредита</div>
                            <div class="calculation-item__inp-select">
                                <select id="calculation-term" name="" id="">
                                    <option value="1">3 месяца</option>
                                    <option value="2">6 месяца</option>
                                    <option value="3">9 месяца</option>
                                </select>
                                <div class="select-arrow">
                                    <svg class="">
                                        <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div> -->
                </div>
                <div class="calculation__offer-block">
                    <div class="calculation-offer">
                        <div class="calculation-offer__title">Наше предложение</div>
                        <div class="calculation-offer__item calculation-offer__item--pay">
                            <div class="calculation-offer__label">Ежемесячный платеж
                            </div>
                            <div class="calculation-offer__value">9 453 грн</div>
                        </div>
                        <div class="calculation-offer__item mb-0">
                            <div class="calculation-offer__label">Количество платежей</div>
                            <div class="calculation-offer__value">12</div>
                        </div>
                        <div class="calculation-offer__descr">Удобный платеж один раз в месяц, вы полностью выплатите
                            кредит за 12 месяцев</div>
                    </div>
                </div>
                <div class="calculation__footer">
                    <button type="button" class="calculation__footer-btn btn btn-red">Оформить кредит</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="relative-calc-block"></div>