<section class="confirm">
    <div class="container">
        <div class="confirm__content">
            <div class="confirm__content-title">Подтверждение заключения кредитного договора</div>
            <div class="confirm__content-text">ООО «Денежный кейс» (місцезнаходження: 01021, м. Київ, вулиця
                _________, будинок 28, (далі-Товариство) повідомляє, що ________ року між Вами- ____ФІО______,
                (далі- Позичальник) та Товариством було укладено Кредитний договір №______ на суму ____ грн. (далі-
                Кредитний договір).
            </div>
            <div class="confirm__content-subtitle">В зв’язку з чим:</div>
            <div class="confirm__content-text">1. Товариство зобов'язується (гарантує) надати Вам в кредит грошові
                кошти в порядку та сумі, визначених Кредитним договором.
            </div>
            <div class="confirm__content-text"> 2. Ви маєте право відмовитись від укладення Кредитного договору без
                пояснення причин у випадку та в порядку передбачених пп.4.4.3. п.4.4. Кредитного договору та лише за
                умови, якщо в повному обсязі повернете Товариству суму кредиту, що складає ____ грн. та сплатите
                проценти за період з дня одержання кредитних коштів до дня їх повернення за ставкою ____ % в день
                (___%річних).
            </div>
            <div class="confirm__content-text">
                3. Ви маєте право ініціювати розірвання Кредитного договору у випадках і в порядку, передбачених
                чинним законодавством України.
            </div>
            <div class="confirm__content-text">
                4. Ви маєте право направляти Товариству претензії щодо укладеного Кредитного договору на електронну
                адресу Товариства office@flashcash.com.ua, або шляхом направлення рекомендованих або цінних листів
                за адресою місцезнаходження Товариства.</div>
        </div>
    </div>
</section>