<section class="credit__passport">
    <div class="container">
        <table class="credit__passport-table">
            <tr class="credit__passport-head">
                <td colspan="2">1. Інформація та контактні дані кредитодавця</td>
            </tr>
            <tr class="credit__passport-row">
                <td>Найменування кредитодавця та його структурного або відокремленого підрозділу, в якому
                    поширюється інформація</td>
                <td>Повне: ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ "_______________"</td>
            </tr>
            <tr class="credit__passport-row">
                <td>Місцезнаходження кредитодавця та адреса структурного або відокремленого підрозділу, в якому
                    поширюється інформація</td>
                <td>01021, м. Київ, вулиця _______________, будинок __</td>
            </tr>
            <tr class="credit__passport-row">
                <td>Ліцензія/Свідоцтво</td>
                <td> Ліцензія на надання коштів у позику, в тому числі на умовах фінансового кредиту, видана
                    розпорядженням Національної комісії, що здійснює державне регулювання у сфері ринків фінансових
                    послуг №____ від __.__._____ року</td>
            </tr>
            <tr class="credit__passport-head">
                <td colspan="2">2. Додаткова інформація*</td>
            </tr>
            <tr class="credit__passport-row">
                <td>Додаткові та супутні послуги третіх осіб, обов’язкові для отримання кредиту</td>
                <td>не передбачено</td>
            </tr>
            <tr class="credit__passport-head">
                <td colspan="2">Наслідки прострочення виконання та/або невиконання зобов’язань за договором про
                    споживчий
                    кредит: [зазначаються розмір платежу, база його розрахунку та умови його застосування]:</td>
            </tr>
            <tr class="credit__passport-row">
                <td>пеня</td>
                <td>не передбачено</td>
            </tr>
            <tr class="credit__passport-row">
                <td>штрафи</td>
                <td>не передбачено</td>
            </tr>
            <tr class="credit__passport-row">
                <td>процентна ставка, яка застосовується при невиконанні зобов’язання щодо повернення кредиту</td>
                <td>&lt;____&gt;% в день, нараховується на початкову суму кредиту, нараховуються і за період
                    прострочення,
                    але
                    не більше 60-ти календарних днів поспіль з моменту виникнення такої прострочки</td>
            </tr>
            <tr class="credit__passport-row">
                <td>пеня</td>
                <td>не передбачено</td>
            </tr>
            <tr class="credit__passport-head">
                <td colspan="2">3. Інші важливі правові аспекти</td>
            </tr>
            <tr class="credit__passport-row">
                <td colspan="2">поживач має право безкоштовно отримати копію проекту договору про споживчий кредит у
                    письмовій
                    чи електронній формі за своїм вибором. Це положення не застосовується у разі відмови
                    кредитодавця від продовження процесу укладання договору зі споживачем.</td>
            </tr>
            <tr class="credit__passport-row">
                <td>Споживач має право відмовитися від договору про споживчий кредит протягом 14 календарних днів у
                    порядку та на умовах, визначених Законом України "Про споживче кредитування".</td>
                <td>так, якщо строк кредиту від одного місяця
                    та більше;
                    ні, якщо строк кредиту до одного місяця.</td>
            </tr>
            <tr class="credit__passport-row">
                <td colspan="2">Споживач має право достроково повернути споживчий кредит без будь-якої додаткової
                    плати,
                    пов’язаної з достроковим поверненням. Договором про споживчий кредит встановлений обов’язок
                    повідомлення кредитодавця про намір дострокового повернення споживчого кредиту з оформленням
                    відповідного документа.</td>
            </tr>
            <tr class="credit__passport-row">
                <td colspan="2">Умови договору про споживчий кредит можуть відрізнятися від інформації, наведеної в
                    цьому
                    Паспорті споживчого кредиту, та будуть залежати від проведеної кредитодавцем оцінки
                    кредитоспроможності споживача з урахуванням, зокрема, наданої ним інформації про майновий та
                    сімейний стан, розмір доходів тощо.</td>
            </tr>
        </table>
    </div>
</section>