<header class="header">
    <div class="container header-container">
        <div class="header__burger">
            <div class="burger__icon icon-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="header__logo">
            <a href="">
                <img src="img/logo.svg" alt="">
            </a>
        </div>
        <div class="header__end">
            <a href="tel:0800500686" class="header__phone">0 800 500 686</a>
            <div class="header__languages">
                <a href="#" class="header__lang">ua</a>
                <a href="#" class="header__lang active">ru</a>
            </div>
            <div class="header__btns">
                <button class="header__btns-btn btn">Погасить</button>
                <a href="#" class="header__btns-btn header__btns-btn--cabinet btn btn-transparent">
                    <span class="header__cabinet-descr">Личный кабинет</span>
                </a>
            </div>
            <a class="header__personal-cabinet" href="">
                <svg class="svg-cabinet">
                    <use xlink:href="./img/icons/icons.svg#cabinet"></use>
                </svg>
            </a>
        </div>

        <div class="header__mobile">
            <div class="header__mobile-container">
                <div class="header__mobile-languages">
                    <div class="header__mobile-lang active">ua</div>
                    <div class="header__mobile-lang">ru</div>
                </div>
                <nav class="header__mobile-nav">
                    <ul class="header__mobile-list">
                        <li class="header__mobile-elem">
                            <a href="#" class="header-link">Вопросы и ответы</a>
                        </li>
                        <li class="header__mobile-elem">
                            <a href="#" class="header-link">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="header__mobile-phones">
                    <div class="header__mobile-phone">
                        <a href="tel:+380445851487">+38 (044) 585- 14-87</a>
                        <span>(по тарифам оператора)</span>
                    </div>
                    <div class="header__mobile-phone">
                        <a href="tel:0800500686">0 800 500 686</a>
                        <span>(по тарифам оператора)</span>
                    </div>
                </div>
                <div class="header__mobile-btns">
                    <button class="header__mobile-btn btn btn-transparent">Личный кабинет</button>
                    <button class="header__mobile-btn btn">Погасить</button>
                </div>
            </div>
        </div>
    </div>
</header>