<section class="information">
    <div class="container">
        <table class="table__information">
            <tr class="table__information-header">
                <td class="table__information-num">№</td>
                <td class="table__information-name">Інформація</td>
                <td class="table__information-content">Зміст</td>
                <td class="table__information-last">Підстава</td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">1</td>
                <td class="table__information-name">Найменування</td>
                <td class="table__information-content">Повне: ТОВАРИСТВО З ОБМЕЖЕНОЮ ВІДПОВІДАЛЬНІСТЮ
                    "____________________"
                </td>
                <td class="table__information-last">П. 1 ч. 4 ст. 12-1 Закону про фінпослуги
                    Пп. 1 п. 2 розділу ІІ Положення № 825 від 19.04.2016</td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">2</td>
                <td class="table__information-name">Ідентифікаційний код</td>
                <td class="table__information-content">11223344
                </td>
                <td class="table__information-last">Пп. 2 п. 2 розділу ІІ Положення № 825 від 19.04.2016</td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">3</td>
                <td class="table__information-name">Відомості про державну реєстрацію</td>
                <td class="table__information-content">Номер запису _________________, дата запису __.__._____</td>
                <td class="table__information-last"></td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">4</td>
                <td class="table__information-name">Свідоцтво фінансової установи</td>
                <td class="table__information-content">ФК № ________ від __,__._____
                    <a class="table__information-link" href="#">Свідоцтво</a>
                    <a class="table__information-link" href="#">Реєстр</a>
                </td>
                <td class="table__information-last"></td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">5</td>
                <td class="table__information-name">Виписка з ЄДР</td>
                <td class="table__information-content"><a class="table__information-link" href="#">Витяг з ЄДР</a></td>
                <td class="table__information-last"></td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">6</td>
                <td class="table__information-name">Місцезнахоження</td>
                <td class="table__information-content">Україна, 01058, м. Київ, вулиця ______________________,
                    будинок____.
                    Код території за КОАТУУ __________________</td>
                <td>Пп. 3 п. 2 розділу ІІ Положення № 825 від 19.04.2016</td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">7</td>
                <td class="table__information-name">Перелік послуг</td>
                <td class="table__information-content">Предметом діяльності ТОВ "_______________" є виключно:
                    <ul>
                        <li> - надання коштів у позику, в тому числі і на умовах фінансового кредиту;</li>
                        <li> - факторинг;</li>
                        <li> - фінансовий лізинг;</li>
                        <li> - надання гарантій та поручительств.</li>
                    </ul>
                </td>
                <td class="table__information-last">п. 3 ч. 1 ст. 12, п. 2 ч. 4 ст. 12-1 Закону про фінпослуги
                    Пп. 4 п. 2 розділу ІІ Положення № 825 від 19.04.2016</td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">8</td>
                <td class="table__information-name">Власники істотної участі</td>
                <td class="table__information-content">ТОВ "__________", ідентифікаційний код __________,
                    місцезнаходження 01043, м.Київ,
                    вул.______________, будинок __, пряме володіння часткою у статутному капіталі ТОВ
                    "_____________" у розмірі 100%.
                    Учасниками ТОВ "________________" не контролюються інші юридичні особи.

                    Іванов Іван Іванович (інші персональні дані не підлягають розголошенню) - контролер (кінцевий
                    бенефіціарний власник) шляхом набуття права голосу на загальних зборах учасників ТОВ
                    "_________________".

                    Члени виконавчого органу не володіють акціями (частками у статутному капіталі) ТОВ
                    "_______________".</td>
                <td class="table__information-last">п. 3 ч. 4 ст. 12-1 Закону про фінпослуги
                    пп. 5 п. 2 розділу ІІ Положення № 825 від 19.04.2016</td>
            </tr>
            <tr class="table__information-item">
                <td class="table__information-num">9</td>
                <td class="table__information-name">Наглядова рада, виконавчий орган</td>
                <td class="table__information-content">Наглядова рада не створювалась.
                    Виконавчий орган - одноосібний, директор Іванов Іван Іванович</td>
                <td class="table__information-last">п. 4 ч. 4 ст. 12-1 Закону про фінпослуги
                    пп. 6 п. 2 розділу ІІ Положення № 825 від 19.04.2016</td>
            </tr>
        </table>
    </div>
</section>