<section class="registration__phone">
    <div class="container">
        <div class="registration__phone-inner">
            <div class="registration__phone-info">
                <div class="registration__phone-text">Для погашения задолжености по кредиту введите ваш
                    номер
                    телефона, указанный при регистрации</div>
                <div class="registration__phone-inp">
                    <label>Телефон<span>*</span></label>
                    <input type="phone">
                </div>
                <div class="registration__phone-btns">
                    <a class="btn get__code" href="#">Получить код</a>
                    <div class="register-btn">
                        <a class="register__enter" href="#">Войти в кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>