<section class="news">
    <div class="news__banner section-banner">
        <div class="container">
            Выгодно ли брать кредиты онлайн? Развеиваем страхи
        </div>
    </div>
    <div class="container news-container">
        <div class="news__calc-img">
            <img src="img/photo-news.jpg" alt="">
        </div>
        <div class="news__calc">
            <div class="news__calc-calc">
                <div class="credits__calc">
                    <div class="credits__calc-wrap">
                        <div class="credits__calc-head credits-head ">
                            <button id="product1" class="credits-head__item current">Продукт 1</button>
                            <button id="product2" class="credits-head__item">Продукт 2</button>
                        </div>
                        <div class="wrap__content wrap__content--product1">
                            <div class="credits__calc-left">
                                <div class="сalc__info">
                                    <div class="range clearfix">
                                        <div class="range__up">
                                            <div class="info__label">Сума кредиту</div>
                                            <div class="info__inp">
                                                <div class="info__inp-btn sum_minus">
                                                    <span></span>
                                                </div>
                                                <input type="text" class="text summ" id="summ" name="s" value="8000"
                                                    data-max="10000" data-min="1000" data-step="500" data-k="1"
                                                    multiple>
                                                <div class="info__inp-btn sum_plus">
                                                    <span></span>
                                                    <span class="up"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider"></div>
                                    </div>
                                    <div class="сalc__quantity">
                                        <div class="quantity__left">
                                            1000 <span>грн</span>
                                        </div>
                                        <div class="quantity__right">
                                            10 000 <span>грн</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="сalc__info">
                                    <div class="range clearfix">
                                        <div class="range__up">
                                            <div class="info__label">Строк кредиту</div>
                                            <div class="info__inp">
                                                <div class="info__inp-btn date_minus">
                                                    <span></span>
                                                </div>
                                                <input type="text" class="text term" id="term" name="s" value="20"
                                                    data-max="36" data-min="3" data-min-event="0" data-step="1"
                                                    data-k="1">
                                                <div class="info__inp-btn date_plus">
                                                    <span></span>
                                                    <span class="up"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider">
                                        </div>
                                    </div>
                                    <div class="сalc__quantity">
                                        <div class="quantity__left">
                                            3 <span>месяца</span>
                                        </div>
                                        <div class="quantity__right">
                                            36 <span>месяцев</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="calc__term"></div>
                            </div>
                            <div class="credits__calc-right">
                                <div class="calc__calculation">
                                    <div class="calculation__get calculation__content">
                                        <div class="get__label label">Сумма по договору</div>
                                        <div id="get__sum" class="get__sum calculation__sum">
                                            8000
                                            <span>грн</span>
                                        </div>
                                    </div>
                                    <div class="calculation__return calculation__content">
                                        <div class="return__label label">Ежемесячный платеж</div>
                                        <div id="return__sum" class="return__sum calculation__sum">
                                            8 055<span> грн</span>
                                        </div>
                                    </div>
                                    <div class="calculation__quantity calculation__content">
                                        <div class="date__label label">Количество платежей</div>
                                        <div id="quantity__sum" class="quantity__sum calculation__sum">
                                            12
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap__content wrap__content--product2">
                            <div class="credits__calc-left">
                                <div class="сalc__info">
                                    <div class="range clearfix">
                                        <div class="range__up">
                                            <div class="info__label">Сума кредиту</div>
                                            <div class="info__inp">
                                                <div class="info__inp-btn sum_minus">
                                                    <span></span>
                                                </div>
                                                <input type="text" class="text summ" id="summ2" name="s" value="8000"
                                                    data-max="10000" data-min="1000" data-step="500" data-k="1"
                                                    multiple>
                                                <div class="info__inp-btn sum_plus">
                                                    <span></span>
                                                    <span class="up"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider"></div>
                                    </div>
                                    <div class="сalc__quantity">
                                        <div class="quantity__left">
                                            1000 <span>грн</span>
                                        </div>
                                        <div class="quantity__right">
                                            10 000 <span>грн</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="сalc__info">
                                    <div class="range clearfix">
                                        <div class="range__up">
                                            <div class="info__label">Строк кредиту</div>
                                            <div class="info__inp">
                                                <div class="info__inp-btn date_minus">
                                                    <span></span>
                                                </div>
                                                <input type="text" class="text term" id="term2" name="s" value="20"
                                                    data-max="30" data-min="1" data-min-event="0" data-step="1"
                                                    data-k="1">
                                                <div class="info__inp-btn date_plus">
                                                    <span></span>
                                                    <span class="up"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slider">
                                        </div>
                                    </div>
                                    <div class="сalc__quantity">
                                        <div class="quantity__left">
                                            1 <span>день</span>
                                        </div>
                                        <div class="quantity__right">
                                            30 <span>дней</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="calc__term"></div>
                            </div>
                            <div class="credits__calc-right">
                                <div class="calc__calculation">
                                    <div class="calculation__get calculation__content">
                                        <div class="get__label label">Сумма по договору</div>
                                        <div id="get__sum2" class="get__sum calculation__sum">
                                            8000
                                            <span>грн</span>
                                        </div>
                                    </div>
                                    <div class="calculation__get calculation__content">
                                        <div class="get__label label">Процент</div>
                                        <div id="percent__sum2" class="get__sum calculation__sum">
                                            10000
                                            <span>грн</span>
                                        </div>
                                    </div>
                                    <div class="calculation__date calculation__content">
                                        <div class="date__label label">Вернуть до</div>
                                        <div id="return_date" class="date__sum calculation__sum">
                                            31.09.2020
                                        </div>
                                    </div>
                                    <div class="calculation__return calculation__content">
                                        <div class="return__label label">Вернуть всего</div>
                                        <div id="return__sum2" class="return__sum calculation__sum">
                                            8 055<span> грн</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="credits__calc-button">
                            <button class="credits__calc-btn btn">
                                Оформить кредит
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news__info news-info">
                <p>Когда денег нет, но они очень нужны, их можно одолжить. Вариантов несколько: у
                    друзей/знакомых, в банке, ломбарде или у финансовой организации. Последние сегодня активно
                    предлагают онлайн-займы. С одной стороны, это удобно и быстро. Все, что нужно – паспорт, ИНН и
                    банковская карта. Указал свои данные, 10-15 минут и деньги на карте. Нет нужды никуда ехать. С
                    другой – дорого.</p>
                <p>Такие займы оправданы, если деньги нужны очень сильно и очень ненадолго. Но в жизни бывает и такое.
                    Поэтому я решил провести небольшое исследование этой части финансового рынка: описать процедуру
                    оформления таких кредитов и сравнить условия их выдачи у десятка компаний, чьи названия, что
                    называется,
                    «на слуху».</p>
                <div class="news-info__content">
                    <div class="news-info__title">Преимущества онлайн-кредитов</div>
                    <ul class="news-info__list">
                        <li class="news-info__item">нет необходимости выходить из дома</li>
                        <li class="news-info__item">быстрое оформление</li>
                        <li class="news-info__item">деньги будут зачислены в течении 10 минут</li>
                    </ul>
                </div>
                <p>Когда денег нет, но они очень нужны, их можно одолжить. Вариантов несколько: у
                    друзей/знакомых, в банке, ломбарде или у финансовой организации. Последние сегодня активно
                    предлагают онлайн-займы. С одной стороны, это удобно и быстро. Все, что нужно – паспорт, ИНН и
                    банковская карта. Указал свои данные, 10-15 минут и деньги на карте. Нет нужды никуда ехать. С
                    другой – дорого.</p>
                <p>Такие займы оправданы, если деньги нужны очень сильно и очень ненадолго. Но в жизни бывает и такое.
                    Поэтому я решил провести небольшое исследование этой части финансового рынка: описать процедуру
                    оформления таких кредитов и сравнить условия их выдачи у десятка компаний, чьи названия, что
                    называется,
                    «на слуху».</p>
                <div class="news-info__footer">
                    <a href="" class="news__info-link">
                        Вернуться назад
                    </a>
                    <div class="news-block__data">
                        <svg class="svg-date">
                            <use xlink:href="./img/icons/icons.svg#date"></use>
                        </svg>
                        23 мая 2020
                    </div>
                </div>
            </div>
        </div>
        <div class="news__more">
            <div class="news__more-tittle">Вам може бути цікаво</div>
            <div class="news__more-wrapper">
                <div class="news__block-item news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news__block-item news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news__block-item news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>