<section class="news-catalog">
    <div class="news-catalog__banner section-banner">
        <div class="container">
            Новости
        </div>
    </div>
    <div class="news-catalog__container container">
        <div class="news-catalog__wrapper">
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">
                                Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-catalog__item">
                <div class="news-catalog__block news-block">
                    <a href="#" class="news-block__link">
                        <img class="news-block__photo" src="img/news_1.png" alt="">
                        <div class="news-block__content">
                            <div class="news-block__title">Чи вигідно брати кредити онлайн? Розвіюємо страхи
                            </div>
                            <div class="news-block__data">
                                <svg class="svg-date">
                                    <use xlink:href="./img/icons/icons.svg#date"></use>
                                </svg>
                                23 мая 2020
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="news-catalog__pagination">
            <nav class="pagination__nav">
                <ul class="pagination__list">
                    <li class="pagination__item">
                        <a href="" class="pagination__link pagination__link--arrow">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link pagination__link--dotted">
                            ...
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link">
                            3
                        </a>
                    </li>
                    <li class="pagination__item current">
                        <a href="" class="pagination__link">
                            4
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link">
                            5
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link pagination__link--dotted">
                            ...
                        </a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__link pagination__link--arrow">
                            <svg class="pag-arrow--right">
                                <use xlink:href="./img/icons/icons.svg#pag-arrow"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>