<section class="questions">
    <div class="container">
        <h2 class="section__title questions__title">Вопрос- ответ</h2>
        <div class="section__subtitle-text questions__subtitle-text">Мы собрали для вас ответы на самые частые вопросы
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__left">
                    <div class="questions-item__num">I</div>
                    <div class="questions-item__title">Условия и предупреждения</div>
                </div>
                <div class="questions-item__arrow">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="questions-item__body">
                <ul class="questions-item__documents">
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__left">
                    <div class="questions-item__num">II</div>
                    <div class="questions-item__title">Можно ли погасить кредит досрочно?
                    </div>
                </div>
                <div class="questions-item__arrow">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="questions-item__body">
                <div class="questions-item__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo enim vero sit quidem provident ea at
                    itaque accusantium expedita deserunt dolor libero, non earum eaque quia quisquam nam voluptatum ad!
                </div>
            </div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__left">
                    <div class="questions-item__num">III</div>
                    <div class="questions-item__title">Погашение кредита в терминалах самообслуживания
                    </div>
                </div>
                <div class="questions-item__arrow">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="questions-item__body">
                <ul class="questions-item__documents">
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__left">
                    <div class="questions-item__num">IV</div>
                    <div class="questions-item__title">Требования к клиенту
                    </div>
                </div>
                <div class="questions-item__arrow">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="questions-item__body">
                <ul class="questions-item__documents">
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__left">
                    <div class="questions-item__num">V</div>
                    <div class="questions-item__title">Когда можно подать повторную заявку после получения отказа?
                    </div>
                </div>
                <div class="questions-item__arrow">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="questions-item__body">
                <ul class="questions-item__documents">
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__left">
                    <div class="questions-item__num">VI</div>
                    <div class="questions-item__title">Возможные последствия в случае невыполнения клиентом обязательств
                        по договору
                    </div>
                </div>
                <div class="questions-item__arrow">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="questions-item__body">
                <ul class="questions-item__documents">
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="questions-item">
            <div class="questions-item__header">
                <div class="questions-item__left">
                    <div class="questions-item__num">VII</div>
                    <div class="questions-item__title">Файлы для загрузки
                    </div>
                </div>
                <div class="questions-item__arrow">
                    <svg class="">
                        <use xlink:href="./img/icons/icons.svg#handle-arrow"></use>
                    </svg>
                </div>
            </div>
            <div class="questions-item__body">
                <ul class="questions-item__documents">
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Условия</span> (развернутый расчет кредита)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="questions-item__doc">
                        <div class="questions-item__doc-name">
                            <span class="fw-bold">Предупреждения</span> (О возможных последствиях для клиента)
                        </div>
                        <button type="button" data-format=".pdf" class="questions-item__doc-download btn-reset">
                            <svg class="">
                                <use xlink:href="./img/icons/icons.svg#download"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>