<section class="repay">
    <div class="container">
        <h2 class="repay__title section-title">Прості способи погасити кредит</h2>
        <div class="repay__inner">
            <div class="repay__item">
                <div class="repay__item-wrapper">
                    <div class="repay__item-content">
                        <div class="repay__item-title">В особистому кабінеті</div>
                        <div class="repay__item-text">Ви можете погасити Ваш кредит онлайн не виходячи з дому. Просто
                            перейдіть в особистий кабінет і оплатіть займ банківською картою</div>
                        <div class="repay__item-icon">
                            <a href="#">
                                <img src="img/visa.png" alt="">
                            </a>
                            <a href="#">
                                <img src="img/mastercard.png" alt="">
                            </a>
                            <a href="#">
                                <img src="img/prostir.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="repay__item-images">
                        <img src="img/macbook.png" alt="">
                    </div>
                </div>
            </div>
            <div class="repay__item">
                <a class="repay__link" href="#">
                    <div class="repay__item-wrapper">
                        <div class="repay__item-content">
                            <div class="repay__item-title">Через платіжні термінали</div>
                            <div class="repay__item-text">Оплата кредиту в терміналі ibox, EasyPay і City24 - це швидко
                                і зручною. Термінал Ви зможете
                                знайти термінал в блізжайшіх супермаркеті </div>
                            <div class="repay__item-icon">
                                <a href="#">
                                    <img src="img/city.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/ibox.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="img/easypay.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="repay__item-images">
                            <img src="img/Mask.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>