<section class="step section-banner">
    <div class="container">
        <div class="step__inner">
            <div class="step__inner-num">
                Шаг <span class="step-count">1</span> из 5
            </div>
            <div class="step-progress">
                <div class="step-progress__item current">
                    <div class="step-progress__circle"></div>
                    <div class="step-progress__num">01</div>
                    <div class="step-progress__line"></div>
                </div>
                <div class="step-progress__item">
                    <div class="step-progress__circle"></div>
                    <div class="step-progress__num">02</div>
                    <div class="step-progress__line"></div>
                </div>
                <div class="step-progress__item">
                    <div class="step-progress__circle"></div>
                    <div class="step-progress__num">03</div>
                    <div class="step-progress__line"></div>
                </div>
                <div class="step-progress__item">
                    <div class="step-progress__circle"></div>
                    <div class="step-progress__num">04</div>
                    <div class="step-progress__line"></div>
                </div>
                <div class="step-progress__item">
                    <div class="step-progress__circle"></div>
                    <div class="step-progress__num">05</div>
                </div>
            </div>
            <div class="step__inner-title">
                С суммой и сроком определились! Идем дальше!
            </div>
        </div>
    </div>
</section>