<section class="why">
    <div class="container">
        <h2 class="section__title why__title">Почему стоит взять кредит у нас</h2>
        <div class="section__subtitle-text why__subtitle-text">кредит от настоящего банка так же быстро как в мфо</div>
        <div class="why__wrapper">
            <div class="why__item why__item--first">
                <div class="why__item-num"><span>1</span></div>
                <div class="why__item-title">Быстрое решение</div>
                <div class="why__item-text">Рассмотрим заяку за 59 секунд. Минимум документов- только паспорт и
                    идентификационный код</div>
            </div>
            <div class="why__item why__item--second">
                <div class="why__item-num"><span>2</span></div>
                <div class="why__item-title">Договор онлайн и карта любого банка</div>
                <div class="why__item-text">Больше не нужно ехать в отделение банка- оформляй кредит онлайн. Деньги
                    зачислим на карту любого украинского банка</div>
            </div>
            <div class="why__item why__item--third">
                <div class="why__item-num"><span>3</span></div>
                <div class="why__item-title">Простые платежи, выгодные условия</div>
                <div class="why__item-text"><span>FreshCash- кредит от настоящего банка!</span>
                    Ты получишь ставку вдвое меньше, чем в МФО. Простая и удобная оплата: всего один платеж в месяц.
                    Плати через терминалы и кассы любых банков безк омиссии!</div>
            </div>
        </div>
    </div>
</section>